*{box-sizing: border-box;}
body{
    margin:0;
    padding: 0;
    background: #e60012;
}
.logo{
    margin-top: 1vh;
    margin-left: 3vh;
    height: 11vh;
    cursor: pointer;
    background: white;
    border-radius: 3px;
    padding: 3px;
    display: block;
    position: absolute;
}
/* HEADER + Nom du site*/
.header{
    background-color: #e60012;
    width: 100%;
    height: 10vh;
    text-align: center;
    z-index: 9999;
    display: block;


}
.textHeader{
    margin-left: -19%;              /*nom/text header*/
    margin-top: 2vh;
    text-align: center;
    font-size: 250%;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 1vh;
    display: inline-block;
}
h1{
    font-family:'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin-top: 2vh;
    text-decoration: underline;
}

i .fa-address-card{
    color:white;
    float: right;
    margin-top:10px;
    height: 20px;}

/* bande de couleur coté gauche*/
.coté_gauche{
    background-color: #e60012;
    width: 10%;
    height: 99vh;
    margin-top: 0;
}
/* Slider */
.img
{
    display: inline-block;
    float: left;
    background: #2c75ff;
    margin-left: 10%;
    margin-top: 100px;
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

.zoom-out
{
    border: 1px solid white;
    transform: scale(1);
    transition: .4s ease-in-out;
}

.zoom-out:hover
{
    transform: scale(0.95);
}

.img-haut-g
{
    float: left;
    width: 50%;
    height: 50vh;
}

.img-haut-d
{
    float: right;
    width: 49.4%;
    height: 50vh;
}

.img-bas
{
    width: 100%;
    height: 50vh;
}

figure
{
    display: inline-block;
    margin: 0;
}
                                /*** SLIDER romain***/


div#slider img
{
    border-left: none;
    border-right: none;
    width: 20%;
    height: auto;
    float: left;
}

div#slider
{
    clear: both;
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 20s slidy infinite;
    height: 100%;
}

@keyframes slidy
{
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    100% { left: -300%; }
}
                                /*PICTOGRAMMES fin slider Romain*/

.fa-plane{                   /*avion*/
    font-size: 8vh;
    margin-left: 18%;
    margin-top: 6px;
    color:white;
    text-shadow: -3px 2px 0 rgba(171, 0, 20, 0.7);
    float: left;
    display: inline-block;
    transform: rotate(-25deg);
}
.fa-laptop{           /*inscription*/
    font-size: 3vh;
    margin-right: 3%;
    margin-top: 3.3vh;
    color:white;
    float: right;
    display: inline-block;
}

.C{font-family: 'Montserrat', sans-serif, sans-serif; font-size:1.5vh;color:white;}
.C:hover{color: rgba(171, 0, 20, 0.7);transition: color 0.5s;}

.fa-internet-explorer:hover{color: rgba(171, 0, 20, 0.7);transition: color 0.7s;}
.fa-laptop:hover{color: rgba(171, 0, 20, 0.7);transition: color 0.7s;}

.fa-internet-explorer{             /*connection*/
    font-size: 3vh;
    margin-top: 3.3vh;
    margin-right: 19%;
    color:white;
    float: right;
    display: inline-block;
}
.fa-connectdevelop:active{transform: scale(0.8,0.8);}
.fa-connectdevelop:hover{color: rgba(171, 0, 20, 0.7);transition: color 0.7s;}

p{text-align: justify;margin: 4%;color: black;font-family: 'Montserrat', sans-serif, sans-serif;}       /*text HOVER*/
p:hover{color:white;transition: color 0.7s;}

/* (coté droit) ARTICLES*/
.box{
    background-color: white;
    float: right;}
.article1{
    width: 30%;
    height: 33.33vh;
    border-left:4px solid #a1b6cb;}
.article2{
    width: 30%;
    height: 33.33vh;
    border-left: 4px solid #a1b6cb;}
.article3{
    width: 30%;
    height: 33.34vh;
    border-left:4px solid #a1b6cb;}


.article1:hover{background-color:#2c75ff ;transition: background-color 0.5s ease-in-out;}
.article2:hover{background-color:#2c75ff ;transition: background-color 0.5s ease-in-out;}
.article3:hover{background-color:#2c75ff ;transition: background-color 0.5s ease-in-out;}       /*articles HOVER*/

/* (coté droite) IMAGE ARTICLES*/
#imgArticle1{
    height: 10vh;
    width:16%;
    float: left;
    margin-top: 2vh;
    margin-left: 10px;
    margin-right: 4%;
    cursor: pointer;
    display: inline-block;
    background-image: url("images/image1.jpg");
    border-radius: 3px;
    background-size: 100%;
}
#imgArticle2{
    height: 10vh;
    width: 16%;
    float: left;
    margin-top: 2vh;
    margin-left: 10px;
    margin-right: 4%;
    cursor: pointer;
    display: inline-block;
    background-image: url("images/image2.jpg");
    border-radius: 3px;
    background-size: 100%;
}
#imgArticle3{
    height: 10vh;
    width: 16%;
    float: left;
    margin-top: 2vh;
    margin-left: 10px;
    margin-right: 4%;
    cursor: pointer;
    display: inline-block;
    background-image: url("images/image3.jpg");
    border-radius: 3px;
    background-size: 100%;
}
#imgArticle1:hover{border: 2px solid white;}
#imgArticle2:hover{border: 2px solid white;}            /*images HOVER*/
#imgArticle3:hover{border: 2px solid white;}

/* IMAGE*/
.img{
    display: inline-block;
    float: left;
    margin-left: 10%;
    margin-top: 0;
    width: 60%;
    height: 100vh;
    background-color: #2c75ff;
}